<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Para la fuente raleway-->
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <!-- always the style.css goes the last -->
    <link rel="stylesheet" href="/css/auth/logout.css">
    <meta http-equiv="refresh" content="5;url=/" />
</head>
<body>
    <header>
        <nav class="navbar">
            <picture>
                <a href="/">
                    <img src="/img/branding/logo_light_horizontal.svg" alt="logo de logo_light">
                </a>
            </picture>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a href="/shop">VER TIENDA</a>
                </li>
                <li class="navbar__item">
                    <a href="/auth/login">ADMIN</a>
                </li>
                <li class="navbar__item">
                    <a href="/auth/logout">SALIR</a>
                </li>
            </ul>
        </nav>
    </header> 
    <main>
        <div class="div__main">
            <div>
                <h1> Saliendo del admin </h1>
                <h2> Seras redireccionado en <span id="time"> 5 </span> segundos...</h2>
            </div>
            <img src="/img/funkoSonic.webp">
        </div>
    </main>
    <footer>
        <nav class="navbarFooter">
            <ul>
                <li class="navbar__item navbar__item__padd "><a href="/shop"> SHOP </a></li>
                <li class="navbar__item navbar__item__padd "><a href="/auth/register"> REGISTRARSE </a></li>
                <li class="navbar__item navbar__item__padd "><a href="/auth/login"> INGRESAR </a></li>
                <li class="navbar__item navbar__item__padd "><a href="/contact"> CONTACTO </a></li>
            </ul>
            <picture class="navbar__logo">
                <a href="">
                    <img src="/img/branding/isotype.svg" alt="logo de logo_light">
                </a>
            </picture>
        </nav>
        <p class="articleIng__p footer__p__center"> All rights reserved 2023 - Funkoshop &copy; </p>
    </footer>
    <script src="/js/auth/logout.js"></script>
</body>

</html>